.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        = @group.name
      .chat-main__group-info__left-box__member-list
        Member:
        .chat-main__group-info__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info__edit
    =link_to edit_group_path(@group), class: "edit__btn--icon" do
      Edit
  .chat-main__message-list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content,class: "input-box__text", placeholder: "type a message"
        = f.label :image,class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"